* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bold-font:  "BBH Bartle", sans-serif;
    --default-font: "Quicksand", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: var(--default-font);
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background: rgb(110, 110, 255);
}